# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Virtual Environments
.venv/
venv/
ENV/
env/

# IDE & Editor Settings
.vscode/*
!.vscode/tasks.json
!.vscode/settings.json
!.vscode/launch.json
.idea/
*.swp
*.swo

# OS metadata
.DS_Store
Thumbs.db
Desktop.ini

# Temporary archives
*.zip
*.tar.gz
*.log
temp/
